<app-nav-bar></app-nav-bar>
<div class="general">
  <div class="container">
    <div class="block" *ngIf="(user$ | async) as user">
      <h1>{{ user.username}}</h1>
      <img class="profile" src="../../../../../assets/images/astronaut.png" alt="astronaut">
      <label>Level {{ user.level}}</label>
      <progress max="100" value="50">
        50%</progress>
        <div><img src="../../../../../assets/images/master-chief.png" alt="badge" class="badge"></div>
      </div>
      <div class="block" *ngIf="user$ | async as user">
        <h1>STATISTIC</h1>
        <div class="row">
          <div class="col">
            <h2>VICTORY</h2>
            <p>{{ user.wins}}</p>
          </div>
          <div class="col">
            <h2>LOSS</h2>
            <p>{{user.losses}}</p>
          </div>
          <div class="col">
            <h2>PLAYTIME</h2>
            <p>{{ user.total }}</p>
          </div>
        </div>
    </div>
    <div class="block">
      <h1>HISTORY</h1>
      <table>
        <tr>
          <td>Score </td>
          <td>V/D</td>
          <td>Score</td>
        </tr>
        <tr>
          <td>Score</td>
          <td>V/D</td>
          <td>Score</td>
        </tr>

      </table>
    </div>
  </div>
</div>
