<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="block">
    <h1>{{ user.username}}</h1>
    <img src="../../../../../assets/images/astronaut.png" alt="astronaut">
    <label>Level</label>
    <progress max="100" value="70">
      70%</progress>
      <div>"Badge ici"</div>
    </div>
    <div class="block">
      <h1>STATISTIC</h1>
      <div class="row">
        <p>Victory 8</p>
      <p>Loss 1</p>
      <p>Playtime</p>
    </div>
  </div>
  <div class="block">
    <h1>HISTORY</h1>
    <p>inserer tableau d'historique</p>
  </div>
</div>
