.container {
  display: table;
  width: 100%;
  border-collapse: separate
  //margin-top: 40px;
}

.block {
  display: table-cell;
  width: 33.3333%;
  padding: 10px;
  box-shadow: 23px 0px 31px rgb(0 0 0 / 25%);
  text-align: -webkit-center;
  backdrop-filter: blur(3px);
  font-variant-caps: all-petite-caps;
}

h1 {
  color: white;
  font-family: 'nasalization';
  font-size: xx-large;
  margin: 20px;
}

label {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: xxx-large;
  font-family: 'nasalization';
}

p {
color: white;
}

progress {
  display: inline-block;
  vertical-align: baseline;
  margin: 10px;
  width: -webkit-fill-available;
  accent-color: hotpink;
  height: 20px;
}

profile {
width: 30%;
}
