<div class="separator"></div>
<div class="top">
	<div class="main">
		<img src="../../../../../../assets/images/transmitter_1.png">
		<div class="header">
			<div class="username">
				<div [ngClass]="{'hidden': !dashService.channel}" >

					<input class="channelName" type="text" #inputElement [placeholder]="placeholderText"
					[(ngModel)]="inputText" (focus)="onFocus()" (blur)="validerPlaceholder(inputElement)"
					(keydown.enter)="validerPlaceholderEnter(inputElement)" (input)="onInput(inputElement)">
				</div>
				<h1 *ngIf="!dashService.channel" >{{ChannelName}}</h1>
			</div>
		</div>
	</div>
	<div class="shortcut">
		<app-add-users class="addUser" *ngIf="dashService.addUsers"></app-add-users>
		<img src="../../../../../../assets/images/add-user.png" class="enableAddUser">
		<img class="members" src="../../../../../../assets/images/users.png" (click)="members()">
		<app-channel-option class="channelOption"></app-channel-option>
	</div>
	<div #messageList class="message">
		<div class="messages" *ngFor="let message of messages">
			<img class="messagePicture" src="../../../../../../assets/images/astronaut.png">
			<div>
				<strong class="usernameMessage" >{{message.username}}</strong>
				<p class="text">{{message.text}}</p>
			</div>
		</div>
	</div>
	<form class="input" (submit)="onSubmit()">
		<input placeholder="Send Message..." [ngModelOptions]="{standalone: true}" autofocus [(ngModel)]="message" required>
		<img src="../../../../../../assets/images/rocket.png" (click)="onSubmit()" *ngIf="message" class="send">
		<img src="../../../../../../assets/images/rocket.png" *ngIf="!message">
	</form>
<div>