.main {
	display: flex;
	justify-content: center;
}

.header {
	display: flex;
	//flex-direction: row;
	//align-items:end;
	width: 90%;
	margin-top: 10px;
	justify-content: space-between;
}

.separator {
	content: '';
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 1px;
	background-color: white;
}

.username {
	display: flex;
	font-family: 'nasalization';
}

.username img {
	width: 40px;
	height: 40px;
}

.username h1 {
	margin-left: 15px;
}

.header img {
	width: 15px;
	height: 15px;
}