.top {
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
	justify-content: center;
	width: 90%;
}

.header {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	width: 100%;
}

.separator {
	content: '';
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 1px;
	background-color: white;
}

.username {
	display: flex;
	font-family: 'nasalization';
	margin-top: 10px;
}

.main img {
	width: 35px;
	height: 35px;
	margin-top: 10px;
}

.username h1 {
	margin-left: 15px;
}

.header img {
	width: 15px;
	height: 15px;
}

.message {
	position: absolute;
	margin-top: 61px;
	width: 93%;
	height: calc(100% - 127px);
	overflow-y: scroll;
}

.messages {
	display: flex;
	margin-top: 25px;
}

.messages:last-child {
	margin-bottom: 30px;
}

.message div {
	margin-left: 20px;
}

.message div p {
	margin-top: 5px;
}

.messagePicture {
	width: 50px;
	height: 50px;
}

.input {
	position: absolute;
	bottom: 20px;
	width: 95%;
	display: flex;
	justify-content: center;
}

.input input {
	width: 95%;
	background: transparent;
	height: 40px;
	border-color: lightgray;
	border-radius: 2px;
	color: lightgray;
	padding-left: 10px;
}

.input input:focus {
	outline: none;
	color: white;
	border-color: white;
}

.input img {
	width: 40px;
	height: 40px;
	transition: ease-in-out 0.1s;

}

.send:hover {
	transform: scale(1.2);
	transition: ease-in-out 0.1s;
	cursor: pointer;
}