<app-nav-bar></app-nav-bar>
<div class="main-div">
    <div class="title">
        <h1 class="live">LIVE</h1>
        <img class="sat" src="../../../../../assets/images/satellite_1.png" alt="satellite_logo">
    </div>
    <div class="line-sep"></div>
    <div (click)="this.getAvailableRooms()" class="room">
        <div class="red-dot red_dot_animation"></div>
        <p class="user-name">test <span> VS </span> test</p>
        <div class="score-board">
            <span class="s_l">4</span>
            <span class="s_r">10</span>
        <div class="line-score"></div>
        </div>
    </div>
</div>