body {
	background: transparent;
}

.nav_base
{
	width: 25%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.nasa-font
	{
		font-family: "nasalization";
		color: white !important;
		font-size: 200%;
	}
	.logo-title
	{
		position: relative;
		align-self:flex-start;
		padding: 10px;
	}
	background: transparent;
}

.container {
	background-color:#110720;
	display: grid;
	width: 45%;
	align-self: right;
	margin-right: 0px;
	padding-top: 100px;
}

.astronaut {
	align-self: center;
	padding-bottom: 10%;
	width: 50%;
}

.general {
	height: 100vh;
	display: flex;

}

.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	input {
		align-self: center;
		background-color: #110720;
		font-family: "nasalization";
		text-indent: 10%;
		width: 10cm;
		border-style: solid;
		border-color: white;
		border-radius: 50px;
		border-width: 1px;
		color: white;
		padding-bottom: 5px;
    font-size: 2em;
    margin-bottom: 5px;
	}
}

::placeholder {
  font-size: 0.8em;
}

button {
	color: white;
	max-inline-size: fit-content;
	background-color: #110720;
	font-family: "nasalization";
	font-style:normal;
	align-self: center;
	margin-top: 5px;
}

p {
	align-self: center;
	color: red;
}

.img {
	display: flex;
	margin-block-start: auto;
	height: 50%;
	width: 50%;
	justify-content: left;
}

app-api-login {
	justify-self: center;
}
