.nav_base
{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: none;
	.nasa-font
	{
		font-family: "nasalization";
		color: white !important;
		font-size: 200%;

	}
	.logo-title
	{
		position: relative;
		align-items:flex-end;
		align-content: center;
		align-self:flex-start;
		padding: 10px;

	}
}

.container {
	background-color:#110720;
	width: 45%;
	align-self: right;
	margin-right: 0px;
	padding-top: 100px;
}

.astronaut {
	align-self: center;
	padding-bottom: 10%;
	width: 30%;
}

.general {
	height: 100vh;
	background-color: #110720;
}

.form{
	display: flex;
	flex-direction: column;
	align-content: center;
	input {
		align-self: center;
		background-color: #110720;
		font-family: "nasalization";
		text-indent: 10%;
		border-style: solid;
		border-color: white;
		border-radius: 50px;
		border-width: 1px;
		max-inline-size: fit-content;
		color: white;
		padding-bottom: 5px;
		
	}
}


button {
	color: white;
	max-inline-size: fit-content;
	background-color: #110720;
	font-family: "nasalization";
	font-style:normal;
	align-self: center;
	margin-top: 5px;
}

app-api-login {

}

p {
	align-self: center;
	color: red;
}

row {

	display: flex;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    justify-content: space-between;
	.rocket {
		width: 30%;
	}
}