<div class="separator"></div>
<div class="top">
	<div class="main">
		<img src="../../../../../../assets/images/transmitter_1.png" (click)="members()" *ngIf="chatService.selectedRoom !== null">
		<div class="header" [ngClass]="{'hidden': placeholderText === null}">
			<div class="username" >
						<input 
						[ngClass]="{'hidden': !chatService.selectedRoomOwner && !chatService.selectedRoomAdmin}"
						class="channelName" type="text" #inputElement [placeholder]="placeholderText"
						[(ngModel)]="inputText" (focus)="onFocus()" (blur)="validerPlaceholder(inputElement)"
						(keydown.enter)="validerPlaceholderEnter(inputElement)" (input)="onInput(inputElement)">
						<h1 *ngIf="!chatService.selectedRoomOwner && !chatService.selectedRoomAdmin" >{{placeholderText}}</h1>
			</div>
		</div>
	</div>
	<div class="shortcut">
		<app-add-users class="addUser" *ngIf="dashService.addUsers"></app-add-users>
		<img src="../../../../../../assets/images/add-user.png" class="enableAddUser" style="cursor: pointer;" *ngIf="chatService.selectedRoomOwner || chatService.selectedRoomAdmin">
		<img class="members" src="../../../../../../assets/images/users.png" style="cursor: pointer;" (click)="members()" *ngIf="chatService.selectedRoom !== null">
		<app-channel-option class="channelOption" *ngIf="chatService.selectedRoom !== null"></app-channel-option>
	</div>
	<div #messageList class="message">
		<div class="messages" *ngFor="let message of (messages$ | async)" [ngClass]="{'myMessage': chatService.currentUser.id === message.user.id}">
			<img class="messagePicture" src="../../../../../../assets/images/astronaut.png" *ngIf="chatService.currentUser.id !== message.user.id">
			<div class="content" [ngClass]="{'myContent': chatService.currentUser.id === message.user.id}">
						<strong class="usernameMessage"  >{{message.user.username}}</strong>
							<p class="text" *ngIf="!message.gameRoom">{{message.text}}</p>
							<button *ngIf="message.gameRoom && chatService.currentUser.id !== message.user.id" (click)="joinGame(message.gameRoom)" >Accept invite to Game</button>
							<p class="confirm" *ngIf="message.gameRoom && chatService.currentUser.id === message.user.id">Invitation Sent</p>
			</div>
			<img class="messagePicture" src="../../../../../../assets/images/astronaut.png" *ngIf="chatService.currentUser.id === message.user.id">
		</div>
	</div>
	<form class="input" (submit)="onSubmit()" *ngIf="chatService.selectedRoom !== null">
		<input placeholder="Send Message..." [ngModelOptions]="{standalone: true}" autofocus [(ngModel)]="message" required>
		<img src="../../../../../../assets/images/rocket.png" (click)="onSubmit()" *ngIf="message" class="send">
		<img src="../../../../../../assets/images/rocket.png" *ngIf="!message">
	</form>
<div>
<app-change-pass class="changePass" *ngIf="dashService.changePass"></app-change-pass>
