<div class="main">
	<img [src]="switchMenue ? imagePath1 : imagePath2" class="arrow">
	<div class="switch" [ngClass]="{'hidden': !switchMenue}" >
			<div class="pass" *ngIf="chatService.selectedRoomOwner !== null">
				<label (click)="switch()" (click)="changePass()" >Change Password</label>
			</div>
			<div class="separator" *ngIf="chatService.selectedRoomOwner !== null"></div>
			<div class="leave" *ngIf="chatService.selectedRoomOwner === null">
				<label (click)="switch()" (click)="leaveChannel()" >Leave Channel</label>
			</div>
			<!-- <div class="separator" *ngIf="chatService.selectedRoomOwner !== null"></div> -->
			<div class="delete" *ngIf="chatService.selectedRoomOwner !== null">

				<label (click)="switch()" (click)="deleteChannel()" >Delete Channel</label>
			</div>
	</div>
</div>