
.dashboard {
	display: flex;
	justify-content: flex-start;
}

.chat-selector {
	height: 90vh;
	width: 300px;
	margin-left: 120px;
	background-color: black;
	backdrop-filter: blur(4.5px);
	box-shadow: 23px 0px 31px rgba(0, 0, 0, 0.25);
	flex-shrink: 0;
}

.messages {
	height: 90vh;
	width: 1250px;
	margin-left: 40px;
	background-color: black;
	backdrop-filter: blur(4.5px);
	box-shadow: 23px 0px 31px rgba(0, 0, 0, 0.25);
}


.search-container {
	display: flex;
	align-items: center;
	height: 40px;
	margin-top: 45px;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5px;
	border-radius: 3px; 
	background: rgba(217, 217, 217, 0.25);
	cursor: pointer;
}

.search-container label {
	cursor: pointer;
	user-select: none;
}

.hidden {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0s ease-in-out;

}

// div {
// 	//background-color: #110720;
// }

// body {
// 	//background-color:#110720;
// 	width: 100%;
// }

// .html {
// 	//background-color: #110720;
// }



// .container {
// 	display: flex;
// 	justify-content: center;

// 	mat-card {
// 		position: fixed;
// 		margin: 20px;

// 		.rooms {
// 			height: 500px;
// 			width: 250;
// 			overflow-y: scroll;
// 			scrollbar-color: lightgrey darkgrey; 
// 			scrollbar-width: thin;
// 		}
// 		.chatroom {
// 			margin-left: 40px;
// 			width: 600px;
// 		}
// 	}
// }

// ::-webkit-scrollbar-track {
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	border-radius: 10px;
// 	background-color: lightgray;
// }

// ::-webkit-scrollbar {
// 	width: 12px;
// 	background-color: lightgray;
// }

// ::-webkit-scrollbar-thumb {
// 	border-radius: 10px;
// 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// 	background-color: lightgray;
// }