
.main {
	z-index: 99999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	scrollbar-color: transparent transparent;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	height: 380px;
	background: #2b2d31;
	border-radius: 10px;
}

.search input {
	background-color: #1e1f22;
	width: 90%;
	height: 15%;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	font-size: 20px;
	color: #87898c;
	padding-left: 10px;
}

.search input:focus {
	outline: none;
	color: white;
}

.result {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:scroll;
}

.result p {
	margin: 10px;
}

.channels{
	width: 90%;
	border-radius: 5px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.channels:hover {
	background-color: #404249;
}

.channel {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	gap: 15px;
	margin-left: 5px;
}

.ischannel {
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 90px;
}

.isuser {
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 115px;

}

img {
	width: 30px;
	height: auto;
}

/* Hide scrollbar background */
::-webkit-scrollbar {
	background-color: transparent;
  }
  
  ::-moz-scrollbar {
	background-color: transparent;
  }
  
  ::-ms-scrollbar {
	background-color: transparent;
  }
  
  ::-o-scrollbar {
	background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
	background-color: transparent;
  }
  
  ::-moz-scrollbar-track {
	background-color: transparent;
  }
  
  ::-ms-scrollbar-track {
	background-color: transparent;
  }
  
  ::-o-scrollbar-track {
	background-color: transparent;
  }
  