.container
{
    width: 100%;
    height: 100%;
}
.nav_reset
{
    background-color: transparent;
    box-shadow: none;
}
.left_side
{
    width: 100%;
    justify-self: left;
}
.right_side
{
    width: 100%;
    justify-self: right;
}
.nav_
{
    display: flex;
    background-color: transparent;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}
.play-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-size: 56px;
}
.nasa-font
{
    font-family: "nasalization";
    color: white;
}