<div class="container">
    <nav class="nav_reset nav_" >
        <div class="nav-wrapper nasa-font left_side">
            <a href="#" class="brand-logo">Logo</a>
            
        </div>
        <div class="nav-wrapper nasa-font right_side">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="collapsible.html">login/sign in</a></li>
            </ul>
        </div>
    </nav>
    <div class="play-btn">       
        <a class="btn-flate nasa-font">PLAY</a>    
    </div>
</div>

