<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="search">
    <div class="title">
      <h1>Chercher</h1>
      <img src="../../../../../assets/images/icons8-telescope-100_1.png" alt="icons8-telescope-100_1">
    </div>
    <hr>
    <input type="text" [(ngModel)]="searchTerm"  (ngModelChange)="searchUsers()" placeholder="Rechercher des utilisateurs">
    <div class="main">
      <div class="suggestions" *ngIf="filteredUsers.length > 0">
        <ul>
          <li *ngFor="let user of filteredUsers" (contextmenu)="onContextMenu($event, user.username)">
            <img src="../../../../../../assets/images/astronaut.png" alt="Photo de profil de {{user.username}}" >
            {{user.username}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="friend-list">
    <div class="title">
      <h1>Amis</h1>
      <img src="../../../../../assets/images/src.png" alt="amis-logo">
    </div>
    <hr>
    <p *ngIf="message">{{message}}</p>
    <div class="main">
      <ul>
        <li *ngFor="let user of friends; let i = index" (click)="goToProfileOf(user)" (contextmenu)="onContextMenu($event, user)">
          <img src="../../../../../../assets/images/astronaut.png">
          {{ friends[ i % friends.length] }} 
        </li>
        </ul>
    </div>
  </div>
</div>


<div *ngIf="showContextMenu" class="context-menu" [style.top.px]="contextMenuTop" [style.left.px]="contextMenuLeft">
  <button *ngIf="isMyFriend" (click)="option1()">add friend</button>
  <button (click)="option2()">send message</button>
  <button (click)="option3()">delete friend</button>
</div>
