<app-nav-bar></app-nav-bar>
<div class="container" (click)="closeContextMenu()">
  <div class="search">
    <div class="title">
      <h1>Chercher</h1>
      <img src="../../../../../assets/images/icons8-telescope-100_1.png" alt="icons8-telescope-100_1">
    </div>
    <hr>
    <input type="text" [(ngModel)]="searchTerm"  (ngModelChange)="searchUsers()" placeholder="Rechercher des utilisateurs">
    <div class="main">
      <div class="suggestions" *ngIf="filteredUsers.length > 0">
        <ul>
          <li *ngFor="let user of filteredUsers" (contextmenu)="onContextMenu($event, user)">
			  <img class="profilPic" *ngIf="user.profilPic" src="http://localhost:3000/api/users/profile-image/{{user.profilPic}}" alt="profilePicture">
            <img class="profile" *ngIf="!user.profilPic" src="../../../../../assets/images/astronaut.png" alt="astronaut">
			  <div class="connected" *ngIf="user.isConnected === true"></div>
				<div class="notConnected" *ngIf="user.isConnected === false"></div>
								{{user.username}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="friend-list">
    <div class="title">
      <h1>Amis</h1>
      <img src="../../../../../assets/images/src.png" alt="amis-logo">
    </div>
    <hr>
    <p *ngIf="message">{{message}}</p>
    <div class="main">
      <ul>
        <li *ngFor="let friend of friends" (contextmenu)="onContextMenu($event, friend)" >
          <img *ngIf="friend.profilPic" src="http://localhost:3000/api/users/profile-image/{{friend.profilPic}}" alt="profilePicture">
          <img class="profile" *ngIf="!friend.profilPic" src="../../../../../assets/images/astronaut.png" alt="astronaut">
		  <div class="connected" *ngIf="friend.isConnected === true"></div>
		  <div class="notConnected" *ngIf="friend.isConnected === false"></div>
          {{ friend.username }}
        </li>
        </ul>
    </div>
  </div>
</div>

<div *ngIf="showContextMenu"
  [style.left.px]="overlayPosition.left"
[style.top.px]="overlayPosition.top"
  class="mainMenu">
  <div class="labelContainer" (click)="goToProfileOf(selectedUser)">
    <label>Go to Profile</label>
  </div>
  <div class="separator" *ngIf="!isMyFriend || !isBlocked"></div>
  <div class="labelContainer" (click)="sendMessage(selectedUser)" *ngIf="!isBlocked" >
    <label>Send Message</label>
  </div>
  <div class="separator" *ngIf="!isBlocked"></div>
  <div class="labelContainer" *ngIf="!isBlocked" (click)="block(selectedUser)" >
    <label>Block</label>
  </div>
  <div class="separator" *ngIf="isBlocked"></div>
  <div class="labelContainer" *ngIf="isBlocked" (click)="unblock(selectedUser)" >
    <label>Unblock</label>
  </div>
  <div class="separator" *ngIf="isMyFriend"></div>
  <div class="labelContainer" *ngIf="isMyFriend" (click)="removeFriend(this.user.id, selectedUser)">
    <label>Delete Friend</label>
  </div>
  <div class="separator" *ngIf="!isMyFriend"></div>
  <div class="labelContainer" *ngIf="!isMyFriend" (click)="addFriend(this.user.id, selectedUser)">
    <label>Add Friend</label>
  </div>
</div>
