<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="search">
    <div class="title">
      <h1>Chercher</h1>
      <img src="../../../../../assets/images/icons8-telescope-100_1.png" alt="icons8-telescope-100_1">
    </div>
    <hr>
    <div class="autocomplete">
      <input type="text" placeholder="Rechercher..." [(ngModel)]="username" (keyup)="chercher(username)">
      <div class="suggestions" *ngIf="resultats.length > 0">
        <div class="suggestion" *ngFor="let resultat of resultats" (click)="selectionner(resultat)">
          {{ resultat }}
        </div>
      </div>
    </div>
  </div>
  <div class="friend-list">
    <div class="title">
      <h1>Amis</h1>
      <img src="../../../../../assets/images/src.png" alt="amis-logo">
    </div>
    <hr>
    <p>{{message}}</p>
  </div>
</div>
