.main {
	z-index: 99999;
	position: absolute;
	width: 250px;
	height: auto;
	border-radius: 9px;
	margin-top: 35px;
	margin-left: -200px;
	background: red;
	background: rgba(22, 7, 45, 0.5);
	box-shadow: 23px 0px 24px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.title {
	margin-top: 10px;
	font-family: 'nasalization';
	font-size: 20px;
}

.separator {
	width: 100px;
	height: 1px;
	background-color: white;
	margin-bottom: 10px;
}

.search {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 70%;
	//background: #2b2d31;
	border-radius: 10px;
}

.search input {
	background: rgba(217, 217, 217, 0.25);
	border: none;
	color: #989aa2;
	border-radius: 3px;
	padding: 5px;
}

.search input:focus {
	outline: none;
	color: white;
}

.result {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y:scroll;
	max-height: 250px;
	margin: 10px;
}

.result p {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	cursor: pointer;

}

.result input {
	margin-top: 10px;
	margin-bottom:10px;
}

.result div {
	width: 100%;
	border-radius: 5px;
	//display: flex;
	//justify-content: flex-start;
}

.result div:hover {
	background: rgba(217, 217, 217, 0.25);

}

.list {
	width:100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	z-index: 999;
}

button {
	width: 80%;
	background: #C32F76;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px;
	margin-bottom: 10px;
}

button:disabled {
	color: #989aa2;
	background: #AB3B71;
}

.checkbox {
	pointer-events: none;
}