.main {
	// 	position: absolute;
	// 	top: 50%;
	//   left: 50%;
		width: 100vw;
		height:	100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}
  
.title {
	margin-bottom: 10px;
	font-family: 'nasalization';
	font-size: 20px;
}

button {
	width: 100px;
	background: #C32F76;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

button:disabled {
	color: #989aa2;
	background: #AB3B71;
	cursor: default;
}

button:enabled {
	cursor: pointer;
}

.inputCustom {
	background: rgba(217, 217, 217, 0.25);
	border: none;
	color: #989aa2;
	border-radius: 3px;
	padding: 5px;
}

.inputCustom:focus {
	outline: none;
	color: white;
}

.error {
	color: red;
	font-size: 10px;
}