header {
	z-index: 9998;
	background: transparent;
	display: flex;
	justify-content: center;
	font-family: 'nasalization';
	font-size: 45px;
}

.title {
	z-index: 9999;
}

header h1 {
	display: flex;
	justify-content: center;
	color: white;
}

nav {
	z-index: 9999;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100px;
	height: 100vh;
	background-color: #16072D;
	box-shadow: 10px 0px 39px rgba(0, 0, 0, 0.25);
	overflow-y: auto;
	//scrollbar-width: none;
}

ul {
	background: transparent;
	width: 100%;
}

li {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	background: transparent;
}

li:nth-child(2)::before {
	content: '';
	position: absolute;
	top: 95px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 1px;
	background-color: white;
}

img {
	width: 40px;
	height: 40px;
	background: transparent;
	transition: transform 0.2s ease-out;
}

img:hover {
	transform: scale(1.2);
}

a:hover {
	background-color: transparent;
}

.game {
	width: 70px;
	height: 70px;
	rotate: 38deg;
	margin-top: -20px;
}

.live {
	width: 53px;
	height: 53px;
	margin-top: 10px;
}

a {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

li:first-of-type a {
	height: 90px;
	margin-top: -9px;
}

a.active {
	background: rgba(217, 217, 217, 0.3);
	border-bottom: 1px solid white;
}

nav a.active img {
	transform: scale(1.2);
}

nav a.activeGame img {
	transform: scale(1.2);
}

div.profile_pic {
	margin: 20px 0;
  }
