<nav>
	<ul>
	  <li>
		<a [routerLink]="['/private/game/']" title="Game">
		  <img src="../../../../assets/images/rocket.png" alt="Game" class="game">
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/private/user/']" title="User">
		  <img src="../../../../assets/images/utilisateur-astronaute_1.png" alt="User" class="user">
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/private/chat/']" title="Chat">
		  <img src="../../../../assets/images/transmitter_1.png" alt="Chat" class="chat">
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/private/game/']" title="Live">
		  <img src="../../../../assets/images/satellite_1.png" alt="Live" class="live">
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/private/user/']" title="Friends">
		  <img src="../../../../assets/images/src.png" alt="Friends" class="friends">
		</a>
	  </li>
	  <li>
		<a [routerLink]="['/private/game/']" title="Settings">
		  <img src="../../../../assets/images/technical-support_1.png" alt="Settings" class="settings">
		</a>
	  </li>
	</ul>
  </nav>

  <header>
	<a href="/public/home">
	  <h1>SPACEPONG</h1>
	</a>
  </header>
  
  