.bdy, .ht 
{
	display: flex;
	justify-content: center;
	height: 70vh;
}
.bdy {

	width: 90%;
}

#blackhole {
	
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerHover 
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-self: center;
	width: 50%;
	height: 50%;
	background-color: transparent;
	border-radius: 50%;
	// left: 0%;
	// top: 0%;
	// margin-top: 0vh;
	// margin-right: 0vw;
	z-index: 2;
	cursor: pointer;
	text-align: center;
	transition: all 500ms;
	
	&.open  {
		opacity: 0;
		pointer-events: none;
	}
	
	&:hover span {
		color: #DDD;
		
		&:before { background-color: #DDD; }
		&:after { background-color: #DDD; }
	}
	
	span {
		color: rgb(255, 255, 255);
		font-family: 'nasalization';
		font-size: 18px;
		position: relative;
		transition: all 500ms;
		
		&:before {
			content: '';
			display: inline-block;
			height: 1px;
			width: 16px;
			margin-right: 12px;
			margin-bottom: 4px;
			background-color: #666;
			transition: all 500ms;
		}
		&:after {
			content: '';
			display: inline-block;
			height: 1px;
			width: 16px;
			margin-left: 12px;
			margin-bottom: 4px;
			background-color: #666;
			transition: all 500ms;
		}
	}
}
canvas {
	position: relative;
}

.waiting
{	
	position: absolute;
	left: 47vw;
	top: 54vh;
	border-left: solid 1px white;
	border-right: solid 1px white;
	padding-left: 5px;
	padding-right: 5px;

}

.waiting_animation
{
    transform: opacity;
    animation: pulse 3s infinite;
    @keyframes pulse 
	{
        0% {
            opacity: 0;
        }
        
        50% {
            opacity: 50;
        }
        
        100% {
            opacity: 0;
        }
    }
  
}
