<app-nav-bar></app-nav-bar>
<div class="container" >
  <div class="profil" (click)="test()">
    <h1>Profil</h1>
    <img src="../../../../../assets/images/astronaut.png" alt="profilePicture">
    <button (click)="changeUsername()">Change username</button>
    <button (click)="changeEmail()">Change email</button>
    <button (click)="changePwd()">reset password</button>
    <div class="username-popup" *ngIf="usernamePopup">
      <h1>Please enter new username</h1>
      <input type="text" placeholder="NEW USERNAME">
      <button (click)="closePopup(2)">CONFIRM</button>
    </div>
    <div class="username-popup" *ngIf="pwdPopup">
      <h1>Please enter new password</h1>
      <input type="text" placeholder="NEW PASSWORD">
      <input type="text"placeholder="CONFIRM NEW PASSWORD">
      <button (click)="closePopup(1)">CONFIRM</button>
    </div>
    <div class="username-popup" *ngIf="emailPopup">
      <h1>Please enter new email</h1>
      <input type="text" placeholder="NEW EMAIL">
      <input type="text" placeholder="CONFIRM NEW EMAIL">
      <button (click)="closePopup(0)">CONFIRM</button>
    </div>
  </div>
  <div class="skin" >
    <h1>Skin</h1>

    <div class="ball">
      <div class="ball_skin_container">
        <div class="scrolable-content">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/jupiter.png">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/planet-red.png">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/planet.png">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/pluto.png">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/neptune.png">
          <img (click)="retrieveBallSkin($event)" src="../../../../../assets/images/ball/earth.png">
        </div>
      </div>
      <ngx-colors ngx-colors-trigger [(ngModel)]="colorBall" (ngModelChange)="onColorBallChange($event)" ></ngx-colors>  
    </div>

    <div class="paddle">

      <div ngx-colors-trigger [(ngModel)]="colorPad" [style.background-color]="colorPad" (ngModelChange)="onPaddleColorChange($event)" class="paddle_color_container"></div>

      <div class="paddle_skin_container">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/black_star.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/halo.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/New Project.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/orangePaddle.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/rose_tapette.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/spacePong.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/stars.png">
        <img (click)="retrievePaddleSkin($event)" src="../../../../../assets/images/paddle/whiteP.png">
      </div>

    </div>
  </div>
</div>
