.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
  padding-left: 120px;
}

.profil {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  backdrop-filter: blur(3px);
  align-items: center;
  padding-left: -120px;
  img {
    width: 40%;
    margin: 20px;
  }

}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 20px;
  font-family: 'nasalization';
  text-transform: uppercase;
  background: #110720;
  color: white;
  border-color: white;
  width: 50%;
}

.skin {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  backdrop-filter: blur(3px);
}

h1 {
  font-family: 'nasalization';
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

// CSS "flex-grow: 1" sur chaque div pour que chacune
//prenne autant de place que possible dans le conteneur parent.

input {
    align-self: center;
    background-color: #110720;
    font-family: "nasalization";
    text-indent: 10%;
    width: 50%;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    border-width: 1px;
    color: white;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
