.main {
	width: 100%;
	height: 100%;
	border-radius: 9px;
	background: rgba(22, 7, 45, 0.5);
	box-shadow: 23px 0px 24px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.labelContainer {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	width: 70%;
	justify-content: space-between;
	transition: ease-in-out 0.05s;
	cursor: pointer;
}

.labelContainer:hover {
	scale: (1.03);
	transition: ease-in-out 0.05s;

}

.main label {
	cursor: pointer;
	font-size: 18px;
}

.red {
	color: red;
}

.separator {
	content: '';
	width: 70%;
	height: 1px;
	background: white;
	//margin: 10px;
}

.image img {
	position: absolute;
	width: 25px;
	height: 25px;
	margin-left: -30px;
}

.ban {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.ban input {
	background: rgba(217, 217, 217, 0.25);
	border: none;
	color: white;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.ban input:focus {
	outline: none;
	color: white;
}

.ban button {
	width: 100%;
	background: #C32F76;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.ban button:disabled {
	color: #989aa2;
	background: #AB3B71;
	cursor: default;
}

.hidden {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0s ease-in-out;
	position: absolute;
}