<div class="main" #maDiv>
	<div class="labelContainer" *ngIf="chatService.currentUser.id !== selectedUser.id" (click)="onClick(); inviteToGame();">
		<label >Invite to a game</label>
		<div class="image">
			<img src="../../../../../assets/images/rocket.png">
		</div>
	</div>
	<div class="separator" *ngIf="chatService.currentUser.id !== selectedUser.id"></div>
	<div class="labelContainer"  (click)="onClick(); userProfile()">
		<label >User Profile</label>
		<div class="image">
			<img src="../../../../../assets/images/utilisateur-astronaute_1.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUserOwnerOnly() "></div>
	<div class="labelContainer" *ngIf="checkUserOwnerOnly()" (click)="onClick(); giveOwnership();">
		<label >Give Ownership</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-star-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUserOwnerOnly() && !checkIfAdmin()"></div>
	<div class="labelContainer" *ngIf="checkUserOwnerOnly() && !checkIfAdmin()" (click)="onClick(); promote();">
		<label  >Promote</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-star-half-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUserOwnerOnly() && checkIfAdmin()"></div>
	<div class="labelContainer" *ngIf="checkUserOwnerOnly() && checkIfAdmin()" (click)="onClick(); demote();">
		<label  >Demote</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-star-half-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="chatService.currentUser.id !== selectedUser.id && isBlocked !== null && !isBlocked"></div>
	<div class="labelContainer" *ngIf="chatService.currentUser.id !== selectedUser.id && isBlocked !== null && !isBlocked" (click)="onClick(); block()">
		<label  class="red" >Block</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-remove-user-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="chatService.currentUser.id !== selectedUser.id &&  isBlocked !== null && isBlocked"></div>
	<div class="labelContainer" *ngIf="chatService.currentUser.id !== selectedUser.id &&  isBlocked !== null && isBlocked" (click)="onClick(); unBlock()">
		<label  class="red" >Unblock</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-remove-user-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="chatService.currentUser.id !== selectedUser.id &&  isBlocked === null"></div>
	<div class="labelContainer" *ngIf="chatService.currentUser.id !== selectedUser.id &&  isBlocked === null" (click)="onClick();">
		<label  class="red" style="padding: 9px;" ></label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-remove-user-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUser() && !checkIfMuted() && checklvl()"></div>
	<div class="labelContainer" *ngIf="checkUser() && !checkIfMuted() && checklvl()" (click)=" showmute()" [ngClass]="{'hidden': muteOption}">
		<label  class="red" >Mute</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-remove-user-50.png">
		</div>
	</div>
	<div *ngIf="muteOption">
		<form #myForm="ngForm" (ngSubmit)="muteTime(); onClick();" class="ban">
			<input type="datetime-local" id="myDateTime" name="myDateTime" [(ngModel)]="myDateTimeValue" required>
			<button type="submit" [disabled]="!myForm.valid || !isValidDateTime()">Mute for a limited time</button>
			<button type="submit" (click)="onClick(); mute();">Mute</button>
		</form>
	</div>
	<div class="separator" *ngIf="checkUser() && checkIfMuted() && checklvl()"></div>
	<div class="labelContainer" *ngIf="checkUser() && checkIfMuted() && checklvl()" (click)="onClick(); unMute()">
		<label  class="red" >Unmute</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-remove-user-50.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUser() && checklvl()"></div>
	<div class="labelContainer" *ngIf="checkUser() && checklvl()" (click)="onClick(); kick();">
		<label  class="red" >Kick</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-death-star-30.png">
		</div>
	</div>
	<div class="separator" *ngIf="checkUser() && checklvl()"></div>
	<div class="labelContainer"*ngIf="checkUser() && checklvl()" (click)="showban()" [ngClass]="{'hidden': banOption}">
		<label  class="red" >Ban</label>
		<div class="image">
			<img src="../../../../../assets/images/icons8-death-star-30.png">
		</div>
	</div>
	<div *ngIf="banOption">
		<form #myForm="ngForm" (ngSubmit)="banTime(); onClick();" class="ban">
			<input type="datetime-local" id="myDateTime" name="myDateTime" [(ngModel)]="myDateTimeValue" required>
			<button type="submit" [disabled]="!myForm.valid || !isValidDateTime()">Ban for a limited time</button>
			<button type="submit" (click)="onClick(); ban();">Ban</button>
		</form>
	</div>
</div>
