#main-div
{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'nasalization';
    height: 710px;
}
.row 
{
    margin-bottom: 0;
}
//----------------------------//
#gameContainer
{
    margin-left: 100px;   
    height: 740px;
    width: 1325px;
    backdrop-filter: blur(4.5px);
}

